@use "./variables.scss" as *;

$favicon-default-saturate: 10%;

:root[data-theme="dark"] video,
:root[data-theme="dark"] img {
  &.favicon:not(.favicon-svg) {
    filter: saturate($favicon-default-saturate);
  }
}

.subtitle {
  & .favicon {
    // Smaller favicon for smaller font
    --favicon-size: calc(var(--font-size-minus-1) * 0.65);

    width: var(--favicon-size);
    height: var(--favicon-size);
  }
}

.favicon-span {
  white-space: nowrap;
}

.favicon {
  display: inline;
  width: 0.65rem;
  height: 0.65rem;
  margin: -20% auto -0.07em calc(0.125 * $base-margin);
  vertical-align: 10%;
  cursor: text;

  // Don't pollute copied text with favicon
  user-select: none;

  // Default filters for img favicons (not SVG masks)
  &:not(.favicon-svg) {
    filter: saturate($favicon-default-saturate);
    mix-blend-mode: normal;
  }

  // Make favicons align properly with headings
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    vertical-align: 65%;
  }

  &.close-text {
    margin-left: 0.05rem;
  }

  // SVG-specific styling using masks for color control
  &-svg {
    --svg-color: var(--foreground);

    display: inline-block;
    mask: var(--mask-url) no-repeat center / contain;
    filter: none; // Don't apply img filters to masks
    mix-blend-mode: normal;

    // Per-domain colors using color-mix
    background-color: color-mix(in srgb, var(--foreground) 80%, var(--svg-color));
  }

  .favicon-span > &[data-domain="mail"] {
    margin-left: 0.05rem;
  }

  // Rotate and flip anchor icon to resemble the trout within-site icon
  &[data-domain="anchor"] {
    transform: rotate(-90deg) scaleX(-1);
  }
}
