@use "./variables.scss" as *;

.favicon-span {
  white-space: nowrap;
}

.favicon {
  --size-decrease: 0rem; // Decrease in width and height of favicon size -- set this to a positive value to decrease the size
  --base-vertical-adjustment: calc(0.5 * #{$base-margin});
  --vertical-adjustment: calc(var(--base-vertical-adjustment) + 0.5 * var(--size-decrease));
  --favicon-size: calc(#{$base-margin} * 1.25 - var(--size-decrease));

  display: inline;
  width: var(--favicon-size);
  height: var(--favicon-size);
  margin: -20% auto -0.07em calc(0.125 * $base-margin);
  vertical-align: var(--vertical-adjustment);
  cursor: text;

  // Don't pollute copied text with favicon
  user-select: none;

  .subtitle & {
    --favicon-size: calc(var(--favicon-size) * 0.65);
  }

  // Make favicons align properly with headings
  h1 &,
  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & {
    vertical-align: 65%;
  }
}

// SVG-specific styling using masks for color control
svg.favicon {
  --color-percentage: 40%;
  --svg-color: var(--foreground);
  --google-red: color-mix(in srgb, var(--red) var(--color-percentage), var(--svg-color));
  --google-blue: color-mix(in srgb, var(--blue) var(--color-percentage), var(--svg-color));
  --google-green: color-mix(in srgb, var(--green) var(--color-percentage), var(--svg-color));
  --google-yellow: color-mix(in srgb, var(--gold) var(--color-percentage), var(--svg-color));

  display: inline-block;
  mask: var(--mask-url) no-repeat center / contain;
  filter: none; // Don't apply img filters to masks
  mix-blend-mode: normal;

  // Per-domain colors using color-mix
  background-color: color-mix(in srgb, var(--foreground), var(--svg-color) var(--color-percentage));

  :root[data-theme="dark"] & {
    --color-percentage: 30%;
  }

  // Rotate and flip anchor icon to resemble the trout within-site icon
  &[data-domain="anchor"] {
    transform: rotate(-90deg) scaleX(-1);
  }

  &[data-domain="proton_me"] {
    --size-decrease: calc(0.25 * #{$base-margin});
  }

  &[data-domain="substack_com"],
  &[data-domain="rss"] {
    --size-decrease: calc(0.25 * #{$base-margin});
  }
}

// Per-domain SVG colors
$domain-svg-colors: (
  "arbital_com": var(--green),
  "arxiv_org": var(--red),
  "cnn_com": var(--red),
  "deepmind_com": var(--blue),
  "discord_gg": color-mix(in srgb, var(--purple) 50%, var(--blue)),
  "forum_effectivealtruism_org": var(--teal),
  "colab_research_google_com": var(--gold),
  "docs_google_com": var(--blue),
  "scholar_google_com": var(--blue),
  "huggingface_co": var(--yellow),
  "matsprogram_org": var(--red),
  "open_spotify_com": var(--green),
  "overleaf_com": var(--green),
  "proton_me": var(--purple),
  "reddit_com": var(--red),
  "rss": var(--orange),
  "substack_com": var(--orange),
  "youtube_com": var(--red),
);

@each $domain, $color in $domain-svg-colors {
  svg.favicon[data-domain="#{$domain}"] {
    --svg-color: #{$color};
  }
}

// Yellow arrow on bottom
svg.favicon[data-domain="amazon_com"] {
  --yellow-target: var(--yellow);

  :root[data-theme="dark"] & {
    --yellow-target: color-mix(in srgb, var(--yellow) var(--color-percentage), var(--foreground));
  }

  background: linear-gradient(to bottom, var(--foreground) 75%, var(--yellow-target) 70%);
}

// Google "G" with four brand colors (blue, red, yellow, green)
svg.favicon[data-domain="google_com"] {
  background: conic-gradient(
    from -70deg at 50% 50%,
    var(--google-red) 0deg 120deg,
    var(--google-blue) 120deg 220deg,
    var(--google-green) 220deg 310deg,
    var(--google-yellow) 310deg 360deg
  );
}
