name: Accessibility

on:
  push:
    branches: ["main", "dev"]
    paths:
      - "quartz/**"
      - "website_content/**"
      - "config/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/actions/**"
  pull_request:
    paths:
      - "quartz/**"
      - "website_content/**"
      - "config/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/actions/**"

permissions:
  actions: read
  contents: read

jobs:
  a11y:
    if: ${{ !startsWith(github.head_ref, 'deepsource-') }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-env
      - name: Build site
        run: pnpm build
      - name: Serve site and run accessibility checks
        run: |
          pnpm serve public -l 8080 &
          npx wait-on http://localhost:8080 --timeout 420000
          pnpm test:a11y
