# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node tests

concurrency:
  group: node-tests-${{ github.event_name }}-${{ github.ref_name }}
  cancel-in-progress: true

on:
  push:
    branches: ["main", "dev"]
    paths:
      - "quartz/**"
      - "config/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - "jest.config.js"
      - ".github/actions/**"
  pull_request:
    paths:
      - "quartz/**"
      - "config/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - "jest.config.js"
      - ".github/actions/**"
  merge_group:

permissions:
  actions: read
  contents: read

jobs:
  build:
    if: ${{ !startsWith(github.head_ref, 'deepsource-') }}
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version: ["22.12.0"]

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Build Environment
        uses: ./.github/actions/setup-build-env
      - run: pnpm test -u
