name: Python tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  python-tests:
    if: ${{ !startsWith(github.head_ref, 'deepsource-') }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up uv
        uses: astral-sh/setup-uv@caf0cab7a618c569241d31dcd442f54681755d39 # v3
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Set up Python
        run: uv python install 3.11

      - name: Install Python Dependencies
        run: uv sync --frozen

      - name: Run pytest with 100% coverage requirement
        run: |
          uv run python -m pytest scripts \
            --cov-fail-under=100 \
            --config-file config/python/pyproject.toml
