name: Stylelint SCSS

on:
  push:
    branches: ["main"]
    paths:
      - "quartz/**/*.scss"
      - "config/stylelint/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/actions/**"
  pull_request:
    paths:
      - "quartz/**/*.scss"
      - "config/stylelint/**"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/actions/**"

permissions:
  actions: read
  contents: read

jobs:
  stylelint:
    if: ${{ !startsWith(github.head_ref, 'deepsource-') }}
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Setup base environment
        uses: ./.github/actions/setup-base-env

      - name: Generate SCSS variables
        run: pnpm exec tsx quartz/styles/generate-variables.ts

      - name: Run Stylelint
        run: |
          pnpm exec stylelint \
            --config config/stylelint/.stylelintrc.json \
            "quartz/**/*.scss"
